/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style or Utilies*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;


}

/* main {
    display: flex;
    align-items: center;
    flex-direction: column;
} */



.container {
    margin: 80px 80px 0px 80px;
}

/* Header Style */
nav {
    display: flex;
    justify-content: space-between;
}

.top-space {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    color: #3a3a3a;
}

nav a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 16;
    font-weight: 600;
    margin-right: 15px;
}


/* Influencer Journey Section Style */

.influencer-journey-section {
    display: flex;
    justify-content: space-around;



}

.half-width {
    width: 50%;
}

.influencer-title {
    font-size: 52px;
    color: #3a3a3a;
    line-height: 40px;

}

#span-color {

    color: #FF5959;
}

p {
    font-size: 18px;
    color: #3a3a3a;
    text-align: justify;
    line-height: 28px;
    padding-bottom: 30px;
}


.half-width img {
    width: 70%;
    margin-left: 25%;

}

.button {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    font-weight: 500;
    border-radius: 41px;
    animation: sliding 2s ease-in-out 0.5s;
}

.button:hover {
    padding: 20px 48px;

}

a .text-size {
    font-size: 16px;
}

.space-left {
    margin-left: 15px;
    font-size: 12px;
}


/* Partner Company Section Style */

.partner-company-section {
    display: flex;

}

.image {}

/* Product Collections Section Style */
.product-container {
    margin: 0% 10%;
}

.popular-section-title {
    text-align: center;
    font-size: 28px;
}

.product-collections {

    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
}

.product-collection {
    justify-content: center;
    align-items: center;
    box-shadow: gray;
    margin-left: 20px;
}

.product-collections-title {
    font-size: 28px;
    color: #18191F;
    margin: 0px;
}

.product-price {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin: 10px;
}

.product-rate {
    margin-bottom: 15px;

}

.fa-star {
    font-size: 14px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

h6 {
    color: #787885;
    font-size: 14px;
    margin: 0px;
}

.float-right {
    text-decoration: none;
    float: right;
    color: #E02C6D;
}

/* Footer Style */